<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>icinga_hosts_services<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga_hosts_services_customer1" data-view="icinga_hosts_services" data-title="Customer1" data-moreinfo=""></div>
    </li>

  </ul>
</div>

